@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

:root {
  --grayColor: #bdbdbd;
  --yellowColor: #faaf0a;
  --darkColor: rgb(26, 26, 26);
  --darkTextColor: rgb(20, 20, 20);
  --hoverCardBg: rgb(32, 32, 32);
  --lightColor: rgb(255, 255, 255);
  --bodyFont: "Unbounded", sans-serif;
}

body {
  overflow-x: hidden;
  font-family: var(--bodyFont);
  background-color: var(--darkTextColor);
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 13s linear infinite;
}
