@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

* {
    scroll-behavior: smooth;
}

.container2 {
    padding-left: 10px;
    padding-right: 10px;
    overflow-x: hidden;
}


.flex2 {
    display: flex;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-slide {
    animation: slide 13s linear infinite;
}